/* styles pour le corps de la page */
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
}

/* styles pour l'en-tête */

header {
    background-color: #285e8e;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px;
    justify-content: space-between;
}

.forms {
    background-color: #CC3333;
    color: black;
    padding: 20px;
    border: black solid 2px;
    border-radius: 10%;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

header a {
    color: white;
    text-decoration: none;
}

/* styles pour le contenu principal */

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #aaa;
}

section h3 {
    margin-top: 0;
}

/* styles pour le bouton du formulaire */

button {
    background-color: #1c4e7d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #285e8e;
}

/* Style du pied de page */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-left: 10px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}